
.containerf{
   
    max-width: 1170px;
    margin: auto;
}
.rowf{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 20px 0;
}
.footer-col{
    padding: 0 15px;
    width: 25%;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #fece15;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 10px;
}
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .text1{
      font-size: 40px;
    }
    .text2{
      font-size: 20px;
    }
}
@media(max-width:544px){
    .footer-col{
        width: 100%;
    }
    .text1{
      font-size: 40px;
    }
    .text2{
      font-size: 20px;
    }
}