:root{
    --gradient-color: linear-gradient(to right ,rgba(245, 198, 9, 0.8),rgba(245, 198, 9, 0.8));
}
a{
    text-decoration: none;
    color: inherit;
}
.area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{ 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height:20rem;
    min-width: 80%;
    box-shadow: 2px .8rem 1rem rgba(0, 0, 0, .05);
    transform: scaleX(1);
    transition: 2s;
    margin: 50px;
}
.image-data{
    height: 17rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.background-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../assets/images/n1.jpg') center no-repeat;
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
}
.card:hover .background-image{
    transform: scale(1.5);
}
.publication-detail{
    width: 100%;
    height: 100%;
    background: var(--gradient-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;

}
.publication-detail li{
    margin-right: 1rem ;
}
.author{
    display: inline-block;
    margin-bottom: .5rem;
    transition: all .5s .3s;
}
.author:hover{
    color: rgba(255, 255, 255, .75);
}
.date{
    display: block;
}
.post-data{
    background-color: #fff;
    padding: 2rem 3rem;
    position: relative;
    
}
.title{
    font-size: 3rem;
    line-height: 1;
    text-align: left;
}
.subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #a2a2a2;
    margin: 1rem 0 1.5rem 0;
}
.description{
    position: relative;
    
}
.description::first-letter{
    margin-left: 1rem;

}
.description::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: .7rem;
    background: var(--gradient-color);
    border-radius: 2rem;
}
.cta{
    text-align: right;
    font-weight: bold;
    margin-top: 1rem;
}
.cta a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
}
.cta a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 100%;
    height: 3px;
    background: var(--gradient-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}
.cta a:hover::before{
    transform: scaleX(1);
}
@media screen and (min-width:600px) {
    .card{
        flex-direction: row;
        max-width: 80%;
    }
    .image-data{
        flex-basis: 40%;
        height: unset;
    }
  
    .publication-detail{
        transform: translateX(-100%) ;
    }
    .card:hover .publication-detail{
        transform: translateX(0) ;
        transition: transform .5s;
    }
    .author{
        transform: translateY(-3rem);
        opacity: 0;
        transition-delay:  .3s ;
    }
    .date{
        transform: translateY(3rem);
        opacity: 0;
        transition: all .5s .3s;
    }
    .card:hover .author,
    .card:hover .date{
        transform: translateY(0);
        opacity: 1;
    }
    .post-data{
        flex-basis: 60%;
    }
    .post-data::before{
        content: '';
        width: 3.5rem;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -1.5rem;
        z-index: 10;
        transform: skewX(-5deg);

    }
}